TZ=Asia/Tokyo
POSTGRES_USER=postgres_prod
POSTGRES_PASSWORD=<CHANGE_ME>
CONTACT_API_DB_USER=contact_api_prod
CONTACT_API_DB_PASSWORD=<CHANGE_ME>
CONTACT_API_DB_NAME=contact_api_prod
OPENFGA_DB_USER=openfga_prod
OPENFGA_DB_PASSWORD=<CHANGE_ME>
OPENFGA_DB_NAME=openfga_prod
