USER_ID=501
GROUP_ID=20
TZ=Asia/Tokyo
GH_TOKEN=
POSTGRES_USER=postgres_dev
POSTGRES_PASSWORD=postgres_dev
CONTACT_API_DB_USER=contact_api_dev
CONTACT_API_DB_PASSWORD=contact_api_dev
CONTACT_API_DB_NAME=contact_api_dev
OPENFGA_DB_USER=openfga_dev
OPENFGA_DB_PASSWORD=openfga_dev
OPENFGA_DB_NAME=openfga_dev
